
.paperStyle {
    margin: 20px;
    background-color: #F3F2F0;
    text-align: center;
}
.darkStyle {
    margin: 10px;
    background-color: #252525;
}
.saveButton = {
    width: 185px;
    font-size: 26px;
}
